<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Cliente</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Detalhes do Cliente</h1>
    <p>Nome: <%= client.name %></p>
    <p>Data de Nascimento: <%= client.dob %></p>
    <p>Gênero: <%= client.gender %></p>
    <p>Email: <%= client.email %></p>
    <p>Contato: <%= client.contact %></p>
    <a href="/">Voltar</a>
</body>
</html>
